/* Style sheet for
Site: diegoapv.com 
Author: Diego Plascencia-Vega 
Date: 2017-2-27 */

/* artist name link */
#ARTIST_NAME{
	position: fixed;
	width:200px;
	height: 50px;
	left:20px;
	bottom: 20px;

	padding:0px 0px;
	margin: 0px;
	z-index:3;

	outline: none;
	color: rgb(120, 120, 120);
	text-align: left;
	font-family: "helvetica";
	font-weight: bold;
	font-size: 15pt;
}
/* background element (html for now) behind all other elements*/
#back{
	position: absolute;
	top: 0px;
	left: 0px;
	right:0px;
	bottom:0px;

	padding:0px 0px 0px 0px;
	margin: 0px;
	border: 0px;

	text-align:left;
}
/* menu containing list of groups of artworks */
#menu{
	/* margin: 10px; */
	position: fixed;
	width:200px;
	top: 70px;
	right: 20px;
	z-index:3;

	color: rgb(150, 150, 150);
	font-family: "helvetica";
	font-size: 15pt;
	font-weight: bold;
	
}
/* element containing about info */
#about{
	position: absolute;
	top:0px;
	left:100px;

	padding:50px;
}
#about ul{
	list-style-type: "";
}
#portrait{

	width:300px;
	height:300px;
}
#about_me{
	position:absolute;
	top:150px;
	left:375px;
	width:400px;
}
#education_work{
	width:600px;
}
/* element containing galleria jquery*/
#galleria{
	position: absolute;
	height:535px;
	width:730px;
	top:0%;
	left:5%;
}
/* galleria jquery formatting */
.galleria-theme-classic {
overflow: visible;
}
.galleria-theme-classic .galleria-info-description {
    color: rgb(150, 150, 150);
    font-family: "helvetica";
    font-size:12px;
}
/* Content containing Images, Captions, and Text */
#content{
	position: absolute;
	width: 80%;
	height: 80%;
	left: 15%;
	top: 80px;
	margin: 5px;


	color: rgb(150, 150, 150);
	font-family: "helvetica";
	font-size: 10pt;
	z-index:1;

	display:none;
}
/* Project body (article content below gallery) */
#project_body:empty {
	display: none;
}
#project_body {
	position: relative;
	top: 580px;
	color: rgb(150, 150, 150);
	font-family: "helvetica";
	font-size: 10pt;
	line-height: 1.6;
	max-width: 730px;
	left: 5%;
	padding-bottom: 600px;
}
#project_body h1, #project_body h2, #project_body h3 {
	color: rgb(120, 120, 120);
}
#project_body code {
	background: rgba(150, 150, 150, 0.1);
	padding: 1px 4px;
}
#project_body table {
	border-collapse: collapse;
	margin: 10px 0;
}
#project_body th, #project_body td {
	border: 1px solid rgb(100, 100, 100);
	padding: 5px 10px;
	text-align: left;
}
#project_body img {
	max-width: 100%;
	height: auto;
}
/* Table containing Group Exhibits */
#content table{
	color: rgb(150, 150, 150);
    font-family: "helvetica";
    font-size: 10pt;
    border-spacing: 2em 0em;
}
/* unvisited link */
a:link {
 	color: inherit;
    text-decoration: none;
}
/* visited link */
a:visited {
 	color: inherit;
    text-decoration: none;
}
/* mouse over link */
a:hover {
	color: rgb(37, 72, 95);
	text-decoration: none;
}
/* selected link */
a:active {
 	color: inherit;
    text-decoration: none;
}
#file_link{
	text-decoration: underline;
}

/* Three-body simulation canvas (front page background) */
#three_body_canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

/* Site navigation links */
#site_nav {
	display: block;
	color: rgb(150, 150, 150);
	font-family: "helvetica";
	font-size: 15pt;
	font-weight: bold;
	text-align: center;
}
#site_nav a {
	display: inline;
	margin: 5px;
}

/* ---- Index Page Color Overrides ---- */
.page-index #ARTIST_NAME,
.page-index #ARTIST_NAME a {
		color: rgb(161, 154, 146);
	/* color: rgb(230, 227, 222); Warm gray */
	/* color: rgb(226, 231, 238); Cool gray */
}
.page-index #site_nav,
.page-index #site_nav a {
	/* color: rgb(150, 150, 150); */
	/* color: rgb(154, 163, 173); */
	color: rgb(161, 154, 146);
}

/* ---- Gallery Page ---- */
#gallery_page {
	padding: 20px 0;
}
.gallery_heading {
	color: rgb(120, 120, 120);
	font-family: "helvetica";
	font-weight: bold;
	font-size: 14pt;
	margin-bottom: 20px;
}
.gallery_grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
}
.gallery_item {
	text-align: center;
}
.gallery_item a {
	display: block;
}
.gallery_item img {
	width: 100%;
	height: 150px;
	object-fit: cover;
}
.gallery_item .gallery_item_title {
	color: rgb(150, 150, 150);
	font-family: "helvetica";
	font-size: 9pt;
	margin-top: 5px;
}
.gallery_item .gallery_item_date {
	color: rgb(180, 180, 180);
	font-family: "helvetica";
	font-size: 8pt;
}

/* ---- Mobile Responsive ---- */
@media screen and (max-width: 768px) {
	/* Menu: switch from fixed sidebar to top of page */
	#menu {
		position: relative;
		width: 100%;
		right: auto;
		top: 0px;
		text-align: center;
		margin: 0;
		box-sizing: border-box;
	}

	/* Artist name: relative position, centered, constrained width to force two-line wrap */
	#ARTIST_NAME {
		position: relative;
		width: 100%;
		max-width: 200px;
		left: auto;
		bottom: auto;
		text-align: center;
		padding: 10px 0;
		margin: 0 auto;
	}

	/* Content: full width, no left offset */
	#content {
		position: relative;
		width: 100%;
		height: auto;
		left: auto;
		top: auto;
		margin: 0;
		padding: 10px;
		box-sizing: border-box;
	}

	/* Galleria: responsive width and height */
	#galleria {
		position: relative;
		width: 100%;
		height: 300px;
		top: auto;
		left: auto;
	}

	/* About page: stack vertically */
	#about {
		position: relative;
		left: auto;
		top: auto;
		padding: 10px;
	}

	#portrait {
		width: 200px;
		height: 200px;
		margin: 0 auto;
		display: block;
	}

	#portrait img {
		width: 100%;
		height: auto;
	}

	#about_me {
		position: relative;
		top: auto;
		left: auto;
		width: 100%;
		padding: 10px 0;
	}

	#education_work {
		width: 100%;
	}

	#project_body {
		position: relative;
		top: auto;
		left: auto;
		margin-top: 20px;
		padding-bottom: 20px;
		padding-top: 10px;
		padding-left: 20px;
	}

	/* Table: allow wrapping on small screens */
	#content table {
		display: table;
		max-width: 100%;
		white-space: normal;
		word-break: break-word;
		-webkit-text-size-adjust: 100%;
		text-size-adjust: 100%;
	}

	/* Gallery grid: 2 columns on mobile */
	.gallery_grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}
}